/* #RCMenu nav, #RCMenu nav *, #RCMenu nav ul {
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   backface-visibility: hidden;
} */

#RCMenu {
	display: block;
}
#RCMenuQ nav * {
	margin: 0;
	padding: 0;
	border: none;
	outline:none;
    text-decoration: none;
	font-family: sans-serif;
    text-align: left;
	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	user-select: none;
    cursor: default;
}
#RCMenu nav, #RCMenu nav ul {
    z-index: 99999;
/* 	position: fixed; */
	position: absolute;
    top: 0;
    bottom: 0;
	left: -100%;
	height: 100%;
	background: #fff;
	
/* 	will-change: transform; */
/* 	transition: left .3s cubic-bezier(.19,1,.22,1);
	-webkit-transition: left .3s cubic-bezier(.19,1,.22,1);
	-moz-transition: left .3s cubic-bezier(.19,1,.22,1);
	-o-transition: left .3s cubic-bezier(.19,1,.22,1); */
	
	transition: left .2s ease;
	
/* 	transition: all 2s ease; */
}
#RCMenu nav {
	position: fixed;
	width: 100%;
/*     box-shadow: 1px 1px 0 rgba(0,0,0,0.1), -1px 1px 0 rgba(0,0,0,0.1), 0 0 0 4px rgba(0,0,0,0.0), 0 2px 0 rgba(0,0,0,0.1); */
}
#RCMenu nav ul {
	width: 100%;
	padding-top: 75px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}
.desktop #RCMenu nav ul, .tablet #RCMenu nav ul {
/* 	overflow-y: auto;
	overflow-x: hidden; */
}
#RCMenu nav > ul {
    left: 0!important;
/*     display: block; */
}
#RCMenu nav li.RCMenuActive > ul {
    top: 0!important;
	left: 0!important;
}

#RCMenu nav li > a, #RCMenu nav li > span, #RCMenu nav li > i {
    position: relative;
    width: 100%;
/*     padding: 15px 25px 15px 60px; */
    padding: 20px 25px 20px 60px;
    display: block;
    background: transparent;
    color: #444;
    font-size: 14px;
    word-wrap: normal;
    font-style: italic;
    text-align: left;
}
#RCMenu nav li > i {
	opacity: 0.3;
}
#RCMenu nav li > a::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    left: -3px;
    top: 0;
    background: #1C90F3;
	transition: all .5s cubic-bezier(.19,1,.22,1);
}
#RCMenu nav li > a:hover::before {
    left: 0;
}
#RCMenu nav li > button::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 13px;
    width: 22px;
    /* height: 60px; */
    right: 33px;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-left: 20px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAvCAMAAABE+WOeAAAAXVBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzM4ISCeAAAAHnRSTlMA1ajBsqGZihBdLhb567y4knVvTdnGfGdUIAiOgwKMpcRQAAAAj0lEQVRIx83PyQ6DMAxFUadAS6Flngf//2eyIOwQ8rNkKVnf46fQzcsds5tJ/JgZAnyCXNyDoHVakArBdIEFXdilCx248GUPSAr8wksM2BqMKGjCW4BBrQVJCoK/FAzmIPLgI8t7n/8yizzS5VsGfjWAvNBdX7HrlUle6vK3SR6HmCcm1wm7TgTmBOYUP+QHXvEodu5JbwkAAAAASUVORK5CYII=');
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 0% center;
}
.desktop #RCMenu nav lii > button::after {
    width: 12px;
}
html.RCMenuOpen #RCMenu nav {
/* 	left: -300px!important; */
	left: 0!important;
/* 	animation: animation 1000ms linear both; */
}

#RCMenu nav li {
    position: relative;
}
#RCMenu nav li button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    padding: 15px 25px 15px 45px;
    display: block;
	background: transparent;
}
#RCMenu nav li.RCMenuActive {
    position: static!important;
}
#RCMenu nav li.RCMenuActive > button {
	display: none;
}

#RCMenu nav .Monogram {
	display: block;
    position: relative;
    width: 150px;
/*     width: 100%; */
    height: 120px;
    border-radius: 100%;
	background-image: url(AW_Monogram.png);
    background-size: 100%;
/*     background-size: 60%; */
    background-repeat: no-repeat;
    background-position: center center;
	
    margin: 0 auto!important;
	margin-top: 30px!important;
    margin-bottom: 60px!important;
	opacity: 0.1;
    overflow: hidden;
}

#RCMenuButton {
	z-index: 999;
	position: fixed;
/*     top: 12px;
	left: 12px; */
    top: 20px;
	left: 20px;
	height: 32px;
    background: white;
    border-radius: 1px;
}
#RCMenuButton button {
    display: inline-block;
    vertical-align: top;
	height: 32px;
    background: transparent;
}
#RCMenuButton .icon {
    padding: 9px 10px;
}
#RCMenuButton .icon .iconbar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #563d7c;
}
#RCMenuButton .icon .iconbar+.iconbar {
    margin-top: 4px;
}
#RCMenuButton .help {
/*     padding: 0px 10px; */
    padding-right: 10px;
    text-align: left;
	font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    opacity: 0.3;
}
.mobile #RCMenuButton {
	display:none!important;
}

#RCMenu .nav > li {
	float: none;
	display: block;
}
#RCMenu.def {
/* 	position: initial!important; */
	position: unset!important;
	width: 100%!important;
	top: 0!important;
	left: 0!important;
	right: 0!important;
    bottom: 0!important;
}
#RCMenu .nav_wrap {
	height: 100%!important;
}
#RCMenu.def .nav_wrap .nav > li > a, #RCMenu.def .nav_wrap .nav > li > span {
    color: #444;
    text-shadow: none;
}



.navbar > * {
/* 	display: inline-block;
	vertical-align: top; */
	background: transparent;
}
.navbar {
    /* margin-top: 150px; */
    /* z-index: 999999; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
/*     width: 100vw; */
	width: 100%;
    z-index: 1;
    /* height: 50px; */
    height: 60px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 4px 10px rgba(0, 0, 0, 0.06);
    /* border-width: 0 0 1px; */
    /* border: none; */
    display: block;
/*     display: flex; */
/*     flex-direction: row;
    justify-content: flex-start; */
/*     align-items: center; */
}
.navbar button {
    position: absolute;
    width: 22px;
    height: 60px;
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    background-color: transparent;
    /* background-image: none; */
    /* border: 1px solid transparent; */
    text-transform: none;
    transition: all .2s cubic-bezier(.19,1,.22,1);
    margin-right: 20px;
    margin-left: 20px;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar input {
    width: 100%;
    height: 100%;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 18px;
    color: #333;
    padding-top: 0;
    padding-bottom: 0;
    line-height: initial;
    border: 0;
    background-image: none;
    background-color: transparent;
    transition: none;
    outline: none;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: initial;
    margin: 0;
    display: block;
}

.navbar button#RCMenuOpen {
/*     padding: 9px 10px; */
}
.navbar button#RCMenuOpen .iconbar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
/*     background-color: #ffffff; */
    background-color: #2064a5;
}
.home .navbar button#RCMenuOpen .iconbar {
	background-color: #ffffff;
}
.navbar button#RCMenuOpen .iconbar+.iconbar {
    margin-top: 4px;
}
.navbar button#favicon {
    left: 0;
}

.navbar.navIn {
    z-index: 999999;
}
.navbar.navIn #goHome {
    left: 0;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAvCAMAAABE+WOeAAAAXVBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzM4ISCeAAAAHnRSTlMABfB3CYewPCy6tJ23k4+YvqAe1xjq4w6DcGv3VjZcQKhDAAAA50lEQVRIx+3Ryw6CMBCF4UGKVgVFroLa939MazgI6eiMJK6MZ9U2378qvZ7paclM6o4LeJQ6xwKZs0DlCNrEr9L4FBTOz+ocAbzKGwTwGt+bFIHoox04kdkOxzW8wqcAXuZBYBUeBlbjUY8AXuOpy+ZBxvkafGxZIHMWaNzvEAScRxPnAeOnkYsB5yzIcWEcFyHgXAmKWuJ+ySwoWyJbz7kYlBXRI5i4FID7IBu5GOwr9sXvdiY2xpVg5cTdFvrNF/0lHpZ/6Fd4Sv7+d3wjexv6g+hLCme2gm8s8W26eFg3PsTYtX2iO5AfcNcErgAkAAAAAElFTkSuQmCC');
/*     border: 7px solid transparent; */
    background-size: 80%;
    background-position: center 48%;
}
.navbar.navIn button[type="button"]#goHome:disabled {
    left: -84px!important;
}
.navbar.navIn #goBack {
    position: absolute;
	left: 0;
    top: 0;
    border: 8px solid transparent;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAvCAMAAABE+WOeAAAAXVBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzM4ISCeAAAAHnRSTlMA1ajBsqGZihBdLhb567y4knVvTdnGfGdUIAiOgwKMpcRQAAAAkUlEQVRIx83O2Q6DMAxE0UlbCi3dV1b//2ciRPIG0gxSUPx8rm3MT+3MXAliAh+H5eXETeSmcfemeKHxJvCK4v267R9uOzy3E8d3frvGLS7/a/yV0naRPyldZBq/ruO/GBy553twc7744BsvUF/qxAB5usGNDVr1wiNciB7c2eC4WXBIJ8g2uwAxgBhACBb+HwDs2yh2Utr9egAAAABJRU5ErkJggg==');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}
.navbar.navIn button[type="button"]#goBack:disabled {
    left: -84px!important;
}
.navbar.navIn button[type="button"]#RCMenuClose {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAvCAMAAABE+WOeAAAAXVBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzM4ISCeAAAAHnRSTlMAlpSMg35veEJ0aZBmWzw2h1ZPSGIKLyqcDgQBHxLLXgtNAAAA8UlEQVRIx43NWW4CMRRE0TJDM0+BEAiJ97/MQMvoKnrqrld/ts61dS+1ll/5PV7wR/W1cve+9PLp++DTc3wimDSnr0Lg+UGpAP7c9R18O77vT/zwcK+3XW/8YF5vQW3BCF9K7HAbCjbwf0G7nuQ4QRnnbM8PgZ+lTDCFmyBwG8A/NLglQYYTbAJ3ATwVwN3OlZ2MJYD7zRo/5vixvjfNv06Q5wSe7wgy/KITQYYrE8zhIjg6vm3nHYHhPoCvpRDMIl/ATRC4DSJnF4LIO8VtY7CCjwRzw2MQuA/gKw1vTdDBUwE8FTS/kFuHh/tAHdysl38/q0zny6SYxwAAAABJRU5ErkJggg==');
/*     border: 9px solid transparent; */
}

.desktop .navbar.navIn input {
    font-size: 14px;
}
.desktop .navbar.navIn #goBack {
    background-size: 50%;
}
.desktop .navbar.navIn #goHome {
    border: 9px solid transparent;
}
.desktop .navbar.navIn #goBack:before {
    top: 3px;
    left: 11px;
    padding: .25em;
}
.desktop .navbar.navIn  button[type="button"]#RCMenuClose {
    border: 11px solid transparent;
}





.nav > li > a, .nav > li > span {
    color: #fff;
    position: relative;
    display: block;
    z-index: 510;
    /* height: 40px; */
    padding: 0 16px;
    /* line-height: 42px; */
    font-size: 13px;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: sans-serif;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
    letter-spacing: 1px;
    -webkit-filter: blur(0.3px);
    -moz-filter: blur(0.3px);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    font-weight: 300;
    font-style: italic;
    font-variant: small-caps;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: sans-serif;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
    letter-spacing: 1px;
    color: #666a6f;
    text-shadow: 0 0 0 rgba(0,0,0,0);
}
.nav > li > span {
    opacity: 0.4;
}






.logo * {
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	font-variant: small-caps;
	color: #fff;
	-webkit-font-smoothing: subpixel-antialiased;
	font-family: sans-serif;
	text-shadow: 0 0 1px rgba(0,0,0,1.35);
	letter-spacing: 1px;
	
	-webkit-filter: blur(0.3px);
	-moz-filter: blur(0.3px);
	
    color: #666a6f;
    text-shadow: 0 0 0 rgba(0,0,0,0);
}
.home .logo * {
	color: #fff;
}
.logo {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 110px;
    height: 100%;
}
.logo_svg {
/*     width: 45px; */
    width: 50px;
    height: auto;
    flex-grow: 0;
}
.logo_svg svg {
	display: block!important;
}
.logo_svg svg path {
	fill: #2064a5;
}
.home .logo_svg svg path {
	fill: #fff;
}
.logo_title {
    flex-grow: 1;
    padding-left: 10px;
    text-align: left;
}
.logo > a {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
	cursor: pointer;
}
.logo .location-link {
	opacity: 0.4;
}
.logo .location-link:before {
    position: relative;
    top: -1px;
    margin-right: 6px;
    content: '';
    width: 11px;
    height: 14px;
    background: url(../img/location-pin-FFFFFF.svg) no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}
.logo .location-link:hover:before {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* .logo * {
    font-size: 19px;
} */
.logo {
    position: absolute;
    left: 0;
    margin-right: 20px;
    margin-left: 20px;
    height: 100%;
    display: table;
    /* height: 60px; */
    /* width: auto; */
    /* display: inline-block; */
    /* flex-grow: 1; */
}
.logo_svg {
    width: 35px;
    vertical-align: middle;
    display: table-cell;
}
.logo_title {
    display: table-cell;
    vertical-align: middle;
}
.logo_des {
    font-size: 11px;
    display: none!important;
}




.contact > div {
	display: none;
}
.m_contact {
	display: none;
}













































