*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
:focus { outline: none; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}
html, body {
/* 	font-family: sans-serif; */
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    font-family: inherit;
}
ol, ul , li {
    list-style: none;
}
img {
    text-indent: -9999px;
	color: transparent;
	font-size: 0;
}
html {
	overflow-x: hidden!important;
}
button, input, textarea {
    background: none;
    border: none;
	font-family: inherit;
    color: inherit;
    font-size: inherit;
    outline: none;
}
button:focus, input:focus {
	outline: 0;
}
button, a {
	cursor: pointer;
}



/* pointer-events: none */
html.pen body > * {
	pointer-events: none!important;
	-webkit-pointer-events: none!important;
	-moz-user-select: none!important;
	-webkit-user-select: none!important;
	user-select: none!important;
}
.hide {
	display: none!important;
}
.show {
	display: block!important;
}





html.imgAfterLoad img{
	transform: scale(0.9);
	opacity:0;
}
html.imgAfterLoad img.visible {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    -moz-transition: -webkit-transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    -o-transition: -webkit-transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    transition: transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
	
	transform: scale(1);
	opacity:1;
}





/* clickConfirm */
.status {
    position: absolute;
/* 	right: 0; */
    bottom: 0;
    background: #f97803;
}
.status.right {
	bottom: 0;
	right: 0;
    height: 0;
    width: 4px;
}
.status.left {
	bottom: 0;
	left: 0;
    height: 0;
    width: 4px;
}
.status.top {
	left: 0;
	top: 0;
    height: 3px;
    width: 0;
}
.status.bottom {
	left: 0;
	bottom: 0;
    height: 3px;
    width: 0;
}
.status.right.done, .status.left.done {
    height: 100%;
}
.status.top.done, .status.bottom.done {
    width: 100%;
}





/* materialInput */
.materialInput {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    min-height: 45px;
    width: 100%;
	padding-right: 20px;
    padding-left: 20px;
}
.materialInput * {
    cursor: text;
}
.materialInput input[type="text"], .materialInput input[type="number"], .materialInput input[type="password"], .materialInput .input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
	padding-right: 20px;
    padding-left: 20px;
}
.materialInput input[type="text"]:disabled, .materialInput input[type="number"]:disabled, .materialInput input[type="password"]:disabled {
	
}
.materialInput .floatlabel {
    pointer-events: none;
    transition: all 0.2s ease;
    color: #AAAAAA;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    color: #e0b15b;
    font-weight: 500;
    -webkit-transition: all .3s cubic-bezier(0.4,0,0.2,1);
    transition: all .3s cubic-bezier(0.4,0,0.2,1);
    -webkit-transition-property: color,bottom,transform;
    transition-property: color,bottom,transform;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    z-index: 1;
    white-space: nowrap;
}
.materialInput .floatlabel i {
    width: auto;
	margin-right: 4px;
    margin-left: 1px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.materialInput.inputfocus .floatlabel {
    -webkit-transform: scale(.75) translateY(-30px);
    transform: scale(.75) translateY(-30px);
}
.materialInput .inputline {
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.materialInput .inputline:before {
    content: '';
    width: 0%;
    height: 100%;
	opacity: 0;
    background-color: #e0b15b;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.materialInput.inputfocusline .inputline:before {
	width: 100%;
	opacity: 1;
}
.materialInput .floatlabel .fa, .materialInput .floatlabel .fas {
    margin-right: 8px;
}
.materialInput .floatlabel span {
    margin-left: 0;
}
.materialInput .floatlabel.disabled {
	color: rgba(73, 81, 90, 0.3);
}





/* AWIT_NAV */
.awit_nav {
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 247px;
    background-color: #fff;
    pointer-events: none;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-fill-mode: forwards;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: -9999px;
    display: none;
}
.awit_nav:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.03);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}
.awit_nav.awit_nav_open:after {
    opacity: 1;
}
html.awit_nav_open body {
	pointer-events: none;
}
.awit_nav.awit_nav_open {
	pointer-events: auto!important;
}
.awit_nav.awit_nav_anim {
	display: flex;
}
.awit_nav.awit_nav_right {
	left: auto;
	right: -9999px;
}































