*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:focus { outline: none; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}
html, body {
/* 	font-family: sans-serif; */
    font-family: 'Roboto', sans-serif;
}
a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    background: none;
}
ol, ul , li {
    list-style: none;
}
img {
    text-indent: -9999px;
	color: transparent;
	font-size: 0;
}
html {
	overflow-x: hidden!important;
}
button, input, textarea {
    background: none;
    border: none;
	font-family: inherit;
    color: inherit;
    font-size: inherit;
    outline: none;
}
button:focus, input:focus {
	outline: 0;
}
button, a {
	cursor: pointer;
}
html, body {
/*     -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none; */
    min-height: 100vh;
/*     -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased; */
}
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.font_pre_cache {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
    width: 0;
    height: 0;
    visibility: hidden;
}
.font_pre_cache > .font_pre_cache_700 {
    font-weight: 700;
}







/* pointer-events: none */
html.pen body > * {
	pointer-events: none!important;
	-webkit-pointer-events: none!important;
	-moz-user-select: none!important;
	-webkit-user-select: none!important;
	user-select: none!important;
}
.hide {
	display: none!important;
}
.show {
	display: block!important;
}







/* imgAfterLoad */
html.imgAfterLoad img{
	transform: scale(0.9);
	opacity: 0;
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
html.imgAfterLoad img.visible {
	transform: scale(1);
	opacity: 1;
	
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    -moz-transition: -webkit-transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    -o-transition: -webkit-transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    transition: transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}







/* clickConfirm */
.status {
    position: absolute;
/* 	right: 0; */
    bottom: 0;
    background: #f97803;
}
.status.right {
	bottom: 0;
	right: 0;
    height: 0;
    width: 4px;
}
.status.left {
	bottom: 0;
	left: 0;
    height: 0;
    width: 4px;
}
.status.top {
	left: 0;
	top: 0;
    height: 3px;
    width: 0;
}
.status.bottom {
	left: 0;
	bottom: 0;
    height: 3px;
    width: 0;
}
.status.right.done, .status.left.done {
    height: 100%;
}
.status.top.done, .status.bottom.done {
    width: 100%;
}







/* materialInput */
.materialInput {
    position: relative;
    /* min-height: 36px; */
    /* font-size: 14px; */
    /* line-height: 30px; */
    /* font-weight: 400; */
    /* margin: 0; */
    /* margin-bottom: 14px; */
    /* margin-bottom: 2px; */
    /* margin-top: 2px; */
/*     display: inline-block; */
    display: block;
    /* color: #555; */
    /* width: 100%; */
    width: 100%;
    padding: 0;
    /* line-height: 20px; */
    /* margin-bottom: 4px; */
    /* margin-bottom: 10px; */
    /* height: 36px; */
    min-height: 45px;
    width: 100%;
	padding-right: 20px;
    padding-left: 20px;
    cursor: text;
}
.materialInput input[type="text"], .materialInput input[type="email"], .materialInput input[type="number"], .materialInput input[type="password"], .materialInput .input {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
/*     background-color: transparent; */
    width: 100%;
/*     display: block; */
/*     border: none;
    outline: none;
    text-decoration: none; */
    /* font-size: 14px; */
    /* font-weight: 400; */
    /* color: #555; */
    height: 100%;
    /* padding-top: 7px; */
    /* padding-bottom: 0px; */
    /* font-size: 14px; */
    /* transition: background 0s ease-out; */
    /* box-shadow: none; */
    /* margin-bottom: 4px; */
    /* color: #555; */
    /* opacity: 1; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
	padding-right: 20px;
    padding-left: 20px;
/*     z-index: 1; */
	
    z-index: 1;
}
/* .materialInput textarea {
    width: 100%;
    height: 100%;
	padding-right: 20px;
    padding-left: 20px;
    z-index: 1;
} */
.materialInput .floatlabel {
    /* position: absolute; */
    pointer-events: none;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
    transition: all 0.2s ease;
    color: #AAAAAA;
    /* font-weight: 400; */
    /* margin: 16px 0 0 0; */
    /* top: 0; */
    /* font-size: 14px; */
    /* line-height: 1.42857; */
    /* text-transform: uppercase; */
    letter-spacing: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    /* width: 100%; */
    color: #e0b15b;
    font-weight: 500;
    white-space: nowrap;
    -webkit-transition: all .3s cubic-bezier(0.4,0,0.2,1);
    transition: all .3s cubic-bezier(0.4,0,0.2,1);
    -webkit-transition-property: color,bottom,transform;
    transition-property: color,bottom,transform;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    /* left: 20px; */
	
    z-index: 2;
}
.materialInput .floatlabel i {
    width: auto;
	margin-right: 4px;
    margin-left: 1px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.materialInput.animOff .floatlabel {
    -webkit-transition: none;
    transition: none;
/*     -webkit-transform: none;
    transform: none; */
}
.materialInput.inputfocus .floatlabel {
    /* font-size: 11px; */
    /* line-height: 1.07143; */
/*     opacity: 0.6; */
    /* transform: translateY(-15px); */
    -webkit-transform: scale(.75) translateY(-30px);
    transform: scale(.75) translateY(-30px);
/*     font-weight: 500; */
}
.materialInput .inputline {
    pointer-events: none;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
    /* border: 1px solid #e0b15b; */
    /* opacity: 0; */
    /* left: 50%; */
    /* width: 0%; */
    /* -webkit-transition: all 0.2s ease; */
    /* transition: all 0.2s ease; */
    /* width: 100%; */
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
	
    z-index: 2;
}
.materialInput .inputline:before {
    content: '';
    width: 0%;
    height: 100%;
	opacity: 0;
    background-color: #e0b15b;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	z-index: 2;
}
.materialInput.inputfocusline .inputline:before {
	width: 100%;
/*     left: 0%; */
	opacity: 1;
}
.materialInput .floatlabel .fa, .materialInput .floatlabel .fas {
    margin-right: 8px;
}
.materialInput .floatlabel span {
    margin-left: 0;
}
.materialInput .floatlabel.disabled {
	color: rgba(73, 81, 90, 0.3);
}

/* textareaAutoSize */
textarea.textareaAutoSize {
    max-height: 500px;
    overflow-x: hidden;
    resize: none;
    width: 100%;
}
textarea.textareaAutoSize.materialInput {
    padding: 0;
    padding-bottom: 15px;
    padding-top: 15px;
}







/* AWIT_NAV */
.awit_nav {
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 247px;
	
    left: auto;
    right: 100%;
	
	background-color: white;
	
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.awit_nav:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
/*     box-shadow: 0 22px 43px rgba(0, 0, 0, 0.03); */
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}
html.mobile.portrait .awit_nav {
    width: 80%!important;
}

html.awit_nav_open body {
	pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.awit_nav.awit_nav_open:after {
    opacity: 1;
}
.awit_nav.awit_nav_open {
	pointer-events: auto!important;
}

.awit_nav.awit_nav_right {
    left: 100%;
    right: auto;
}








/* AWIT_MODAL */
.awit_modal_wrap {
	display: none;
    flex-direction: column;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 8999999!important;
	background-color: rgba(9, 19, 27, 0.8);
}
/* .awit_modal_wrap:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 19, 27, 0.8);
} */
.awit_modal_wrap.awit_modal_open {
	display: flex;
    pointer-events: auto!important;
    -moz-user-select: auto!important;
    user-select: auto!important;
}
.awit_modal_wrap .awit_modal_back {
/* 	display: none; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(9, 19, 27, 0.8);
}

.awit_modal {
    display: none;
    width: 97%;
    height: 97%;
    /* max-width: 900px; */
    max-width: 1000px;
/*     max-height: 469px; */
/*     max-height: 480px; */
    max-height: 600px;
    border-radius: 1px;
/*     will-change: transform; */
/*     transform: scale(0.97); */
    transform-style: preserve-3d;
    animation-name: aw_modal;
/*     animation-fill-mode: forwards; */
    /* animation-delay: 0.1s; */
    animation-duration: 0.3s;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    background-color: #fff;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: none;
    text-overflow: ellipsis;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.3px;
    color: #353b42;
/*     overflow: hidden; */
/* 	overflow: auto; */
	
    overflow: hidden;
}
.awit_modal_wrap .awit_modal {
    display: block;
}
@media screen and (min-width: 900px) and (min-height: 690px) {

.awit_modal {
    margin-top: -5%;
}

}
@media screen and (max-width: 900px) {

.awit_modal {
    max-height: initial;
    margin-top: 0;
}

}
@keyframes aw_modal {
    from {
		transform: scale(0.97);
	}
	to {
		transform: scale(1);
	}
}

/* .awit_modal_content {
	opacity: 0;
}
.awit_modal_content_show .awit_modal_content {
	transition: opacity 0.2s ease;
	opacity: 1;
} */
.awit_modal_content {
	width: 100%;
	height: 100%;
	transition: opacity 0.2s ease;
	opacity: 1;
}
.awit_modal_content_hide .awit_modal_content {
	transition: none;
	opacity: 0;
    overflow: hidden;
}
/* .awit_modal_content_dn .awit_modal_content {
	display: none;
} */





/* BUTTONS */
.button {
    position: relative;
    background: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
/*     padding-left: 15px;
    padding-right: 15px; */
/*     padding-top: 10px;
    padding-bottom: 10px; */
    min-height: 37px;
	cursor: pointer;
	
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
.button.button_inline {
    display: inline-flex;
}
.button.pos_center {
    display: block;
    margin: 0 auto;
}
.button.pos_left {
    display: block;
    margin-left: auto;
}
.button.white, .button.button_white {
    background-color: white;
    color: inherit;
}
.button.green, .button.button_green {
    background-color: #36c48e;
    color: #fff;
}
.button.orange, .button.button_orange {
    background-color: #ed7b1b;
    color: #fff;
}
.button.orange2, .button.button_orange2 {
    background-color: #eca82b;
    color: #fff;
}
.button.grey, .button.button_grey {
    background-color: #eee;
    color: inherit;
}
.button.grey_light, .button.button_grey_light {
    background-color: #f3f3f3;
    color: inherit;
}
.button.grey_light.inactive, .button.button_grey_light.button_inactive, .button.grey_light:disabled, .button.button_grey_light:disabled {
    background-color: #f3f3f3;
    color: #49515a8f;
}
.button .button_text {
    display: inline-block;
}
.button.disabled {
/*     background-color: rgb(181, 186, 191); */
    background-color: rgb(204, 210, 216);
    /* background-color: rgb(223, 227, 230); */
}
.button.disabled2 {
    background-color: #f3f3f3;
    color: rgba(53, 59, 66, 0.3);
}
.button.button_text_right {
	text-align: right;
    align-items: flex-end;
}
.button.button_text_bold {
    font-weight: 700;
}
.button.button_col {
    flex-direction: column;
}
.button.button_margin {
    margin: 5px;
}
.button.button_text_uc {
	text-transform: uppercase;
}
.button.button_text_fwn {
    font-weight: normal;
}

/* buttonConfirm */
.buttonConfirm .buttonConfirm_statusLine {
	position:absolute;
/* 	background-color:#e0b15b; */
	
	left:0;
	bottom:0;
	height:3px;
	width:0;
}
.buttonConfirm.buttonConfirm_statusLine_right .buttonConfirm_statusLine {
	bottom:0;
	right:0;
	height:0;
	width:3px;
}
.buttonConfirm.buttonConfirm_statusLine_left .buttonConfirm_statusLine {
	bottom:0;
	left:0;
	height:0;
	width:3px;
}
.buttonConfirm.buttonConfirm_statusLine_top .buttonConfirm_statusLine {
	left:0;
	top:0;
	height:3px;
	width:0;
}
.buttonConfirm.buttonConfirm_hold .buttonConfirm_statusLine,
.buttonConfirm.buttonConfirm_statusLine_top.buttonConfirm_hold .buttonConfirm_statusLine {
	width: 100%;
}
.buttonConfirm.buttonConfirm_statusLine_right.buttonConfirm_hold .buttonConfirm_statusLine,
.buttonConfirm.buttonConfirm_statusLine_left.buttonConfirm_hold .buttonConfirm_statusLine {
    width: 3px;
	height: 100%;
}





/* animList */
.animList {
	opacity: 0;
    -webkit-animation-name: animList;
    animation-name: animList;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes animList {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.animList > .animList_elem {
	opacity: 0;
}
.animList > .animList_elem {
    -webkit-animation-name: animList_elem;
    animation-name: animList_elem;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes animList_elem {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}
.animList.animList_toLeft > .animList_elem {
    -webkit-animation-name: animList_elem_toLeft;
    animation-name: animList_elem_toLeft;
}
@keyframes animList_elem_toLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(30px);
		transform: translateX(30px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}
.animList.animList_toTop > .animList_elem {
    -webkit-animation-name: animList_elem_toTop;
    animation-name: animList_elem_toTop;
}
@keyframes animList_elem_toTop {
	0% {
		opacity: 0;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}







/* materialLoader */
.materialLoader_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
/*     flex-direction: column; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.materialLoader {
    display: flex;
    align-items: center;
    justify-content: center;
	
	width: 100px;
	height: 100px;
}
.materialLoader .materialLoader_icon {
/*     font-size: 40px; */
/*     font-size: 45px; */
    font-size: 50px;
	
    -webkit-animation-name: materialLoader_icon;
    animation-name: materialLoader_icon;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes materialLoader_icon {
	0% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.materialLoader_svg {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  width: 100px;
  height: 100px;
  position: relative;
/*   -webkit-transform: scale(1);
  transform: scale(1); */
}
.materialLoader_circle {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
	stroke: #c9aa71;
/* 	stroke: #fff; */
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}







/* DRAGULA */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}




















































